<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First HTML Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Lorem ipsum dolor</h1>
    <hr>
    <br><br>
    <form th:action="@{/results}" method="post">
        <label for="numInput">Key in anything but 404</label>
        <input type="number" id="numInput" name="4041" min="0" required>
        <button type="submit">Submit</button>
    </form>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolores corrupti soluta nemo ab voluptatibus
        architecto animi aliquam modi fuga. Dolorum optio unde libero facere consequatur hic ipsam? Incidunt, tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas a amet deleniti veritatis earum voluptatem
        odit vero eius, vitae sed natus, non eum dolore exercitationem tempora animi officia asperiores! Facere!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe corrupti voluptatibus nesciunt explicabo nostrum ipsum accusamus necessitatibus rerum, sed numquam ut iste quisquam, soluta pariatur officiis. Quisquam sit delectus est.
    </p>
</body>

</html>